.App {
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-instructions {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 10px 15px;
}
input_container {
  background-color: #282c34;
  width: 100%;
}

.App-link {
  color: #61dafb;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 33.33%;
}

/* Create three equal columns that floats next to each other */
@media (max-width: 1199px) {
  .column {
    float: left;
    width: 100%;
  }
}

.body-context {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + .7vmin);
  color: white;
  padding: 24px;
}

.body-instructions {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  color: white;
}
.body {
  background-color: #282c34;
}

.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  table-layout: auto;
  width: 100%;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.input_container {
  background-color: #282c34;
  color: #9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

input[type=file]::file-selector-button {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
  border: 0px;
  padding: 10px 15px;
  margin-right: 20px;
  transition: .5s;
}

input[type=file]::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid #e5e5e5;
}

.bad {
  background-color: #f99;
}

.good {
  background-color: #9f9;
}

.link {
  color: #9f9;
}